footer {
    font-size: 1.1rem;
    vertical-align: middle;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
    color: #e7f253;
    bottom: 0;
    position: fixed;
    min-width: 100%;
    max-width: 100%;
    height: 4rem;
}