.agregar {
    width: 5rem;
    height: 4rem;
    font-size: .9rem;
}

.delete-button {
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
    color: white;
    cursor: pointer;
    background-color: rgba(220, 53, 69, 0.85);
    padding: 2px 0;
}

.inputProfile {
    display: none;
}

.img-fluid {
    max-height: 80vh;
    /* Limita la altura de la imagen para que se ajuste bien en la pantalla */
}