/* .form-check-input {
    margin-left: 0 !important;
} */

/* .form-check {
    margin-left: 0 !important;
} */

/* .form-switch {
    margin-left: 0 !important;
} */

/* .centered-header {
    text-align: center;
} */

/* .centered-cell {
    text-align: center;
} */